Repository VityasZV/JointPython, pull requests merged in 2020-04, with the labels that each got.

#8 message_handler_demo
  http_classes/__init__.py
  http_classes/base_classes.py
  psql/chats.sql
  server/demo_server.py
  server/http_server.py
Labels: server

#9 минимальный demo_client
  client/__init__.py
  client/demo_client.py
  server/http_server.py
Labels: client

#23 Tests
  http_classes/base_classes.py
  server/http_server.py
  server/test_http_server.py
Labels: test
